$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$mainColor:#212121;
$secondaryColor:#2196F3;
$thirdColor:#FFFFFF;
$fourthColor:#757575;
$fifthColor: #2F303A;
$sixthColor:rgba(255, 255, 255, 0.6);
$seventhColor:#F5F4FA;
$lineColor: #ECECEC;
$backgroundColor:#E5E5E5;
$backgroundColor2:#F5F4FA;
$borderLine: #EEEEEE;
$mainFill:#AFB1B8;

